table, td, th {  
    border: 1px solid #ddd;
    padding: 10px;
    
  }
  .pantalla{
    background: grey;
	color: white;
	text-align: right;
  }
  
  table {
    border-collapse: collapse;
    width: 25%;
    
  }
  
  th, td {
    padding: 5px;
    
  }
  .tecla{
    background: #c9bcbc;
  }
  .tecla-naranja{
    background: orange;
    color: white;
  }