.pantalla{
	background: grey;
	width: 100%;
	color: white;
	text-align: right;
	height: 20%;
}
.boton-naranja{
	background: orange;
	color: white;
	
}
.boton{
	background: #c9bcbc;
	
	margin: 0;
}
.form{

}