@charset "utf-8";
body{
    background-color: #f5f5dc;
}
*{
    color: blue;
}
p{
    color: chartreuse;
}

p.class-parr-3{
    color: peru;
}
p.class-parr-2{
    color:black;
}

li#e-uno{
    font-size: 25px;
}
#e-dos{
    color: rebeccapurple;
    font-size: 40px;
}
div, section{
    border: yellowgreen 3px solid;
}
div h2{
    color: tomato;
}

div p{
    color: hotpink;
}

div.div-4 >p{
    color: orange;
}
article.artic + span{
    font-size: 40px;
    color: navy;
}
article~span{
    font-size: 30px;
    color: paleturquoise;
}

th[scope]{
    color: silver;
}
th[scope="row"]{
    color: gold;
    background-color: goldenrod;
}
td.precio{
    background-color: darkgray;
}
td[class~="product"]{
    background-color: darkseagreen;
    text-transform: uppercase;
}