header{
    background-color: orangered;
    color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 2px;
    
}
nav{
    background-color: gold;
    color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 2px;
    
}
main{
    
    background-color: teal;
    color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 2px;
    width: 80%;
}
aside{
    background-color: steelblue;
    color: whitesmoke;
    border-radius: 5px;
    margin: 2px;
    padding: 20px;
    width: 20%;
}
footer{
    background-color: turquoise;
    color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 2px;
    
}
body{
    background-color: transparent;
    
}
section{
    display: flex;
    height: 100%;
}
article{
    
    background-color: mediumturquoise;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}