.form{
    display: flex;
    padding: 5px;
    background: grey;
}
.info{
    background: dodgerblue;
    color: white;
    border-radius: 5px 0 0 5px;
}
.caja{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid slategrey;
}
.em{
    background: white;
    width: 80%;
    padding: 5px;
    border-radius:0 5px 5px 0 ;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
label{
    text-align: center;
}