@charset 'utf-8';

a:link{
    color: navy;
    font-weight: bold;
}
a:visited{
    color: purple;
    font-weight: bold;
}
a:hover{
    background-color: cyan;
    padding: 2px;
}
a:active{
    border: 2px solid fuchsia;
    padding: 2px;
}
input:focus{
    border: 2px dotted #444;
}
input:checked+span{
    background-color: gold;
    padding: 4px;
}
input:read-only{
    background-color: darkred;
    color: whitesmoke;
}
input:required{
    border: 2px solid blue;
}
input.miTexto4:optional{
    border: 2px solid silver;
}
input.valid1:invalid{
    background-color: brown;
    color: whitesmoke;
}
input.valid1:valid{
    background-color: teal;
    color: whitesmoke;
}
input.rango:out-of-range{
    background-color: tomato;
    color: whitesmoke;
}
input.rango:in-range{
    background-color: teal;
    color: whitesmoke;
}

strong:first-child{
    background-color: cyan;
}
strong:last-child{
    background-color: teal;
}
strong:nth-child(3){
    background-color: yellowgreen;
}
.abuelo div{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.padre::after{
    content: "Contenido insertado tras el contenido de los elementos padre";
    color: teal;
    font-weight: bold;
    text-transform: uppercase;
}
.padre::before{
    content: "Contenido insertado tras el contenido de los elementos padre";
    color:mediumblue;
    font-style: italic;
    font-size: 0.8rem;
}
.pseudoelementos2 p::first-letter{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
}
.pseudoelementos2 p::first-line{
    color: #999;
}
.pseudoelementos3 p::selection{
    color: turquoise;
}