table, th, td {
    border: 1px solid black;
  }

  th{
      background-color: turquoise;
  }
  .num{
      background-color: palegoldenrod;
  }
  th[scope="row"]{

    background-color: greenyellow;
}
